extends ../layout

block content
	.row.wrapper.border-bottom.white-bg.page-heading
		.col-lg-10
			h2 Data Tables
			ol.breadcrumb
				li
					a(href='/authenticated/index') Home
				li
					a Klanten
				li.active
					strong Alle Klanten
		.col-lg-2
